@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

/* Css variables */
:root {
  --primary-font: "raleway", sans-serif;
  --secondary-font: "tangerine", sans-serif;
  --primary-color: #201109; /* Dark Brown */
  --secondary-color: #ffad1f; /* Golden Orange*/
}

/* Global styles */
body {
  /* font-family: var(--primary-font); */
  background:
    linear-gradient(rgba(32, 17, 9, 0.45), rgba(32, 17, 9, 0.45)),
    url("../images/Hero-image-Dishes.jpg") no-repeat;
  background-size: auto;
  background-position-y: 13%;
  background-position-x: 43%;
}

h1 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 90px;
  text-align: center;
}

p {
  font-size: 30px;
  max-width: 450px;
  text-align: center;
  color: var(--secondary-color);
}

button {
  margin: 10px;
  font-family: var(--secondary-font);
  font-size: 35px;
  font-weight: bold;
  border: 2px solid #ffad1f;
  border-radius: 25%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 3px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.border {
  border: 2px solid #ffad1f;
  border-radius: 25%;
  padding: 20px;
  background-color: var(--primary-color);
}
